.git
.idea
.run
.htaccess
.htsecure
.xml
.iml
/.well-known
/vendor/
/log
/tmp
*.old.*
*.old/*
*.log
*.xml
*.zip
*.tar
*.rar
*.7z
*.gz
*.bz2
*.csv
*.sql
*.mp4
*.m4a
*.m4v
*.avi
*.mkv
*.mp3
*.wav
*.aiff
._*
._*.*